@charset "utf-8";

:root {
  --primary-background: #f8f9fe;
  --primary-border-radius: 6px;
  --button-border-radius: 50px;
  --pointer: pointer;
  --transform: all 0.25s ease-in-out; 
}


.home-container {
  width: min(100% - 30px, 1410px);
  margin-inline: auto;
  height: 100svh;
}

.index-container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
  background-color: var(--primary-background);
}

main {
  height: 100svh;
}


/*----------------------------------------*/
/* Utilities                              */
/*----------------------------------------*/
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.grid {
  display: grid;
  place-items: center;
}

.text {
  color: #20222d;
}

p, .forgot-password a {
  color: #4c4d5b;
}


/*----------------------------------------*/
/* Login-page                             */
/*----------------------------------------*/
.picture {
  width: 86%;
}

.login-content {
  padding-left: 40px;
}

.login-heading {
  font-size: 45px;
  font-weight: 500;
}

.blue {
  font-family: 'Anton', sans-serif;
  color: #18c0e4;
  letter-spacing: 0.6px;
}

.login-content p {
  margin: 4px 0 70px;
}

.email, .password {
  height: 50px;
  width: 505px;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: var(--primary-border-radius);
  box-shadow: 0.5px 0.5px 1px #edecec;
}

.error {
  font-size: 14px;
  padding-right: 25px;
  margin-bottom: -20px;
}

.invalid.visible {
  color: #c91d1d;
}

.forgot-password a {
  text-decoration: none;
  transform: var(--transform);
  cursor: var(--pointer);
}

.forgot-password a:hover, .login-options li:hover {
  text-decoration: underline;
}

.button {
  height: 50px;
  width: 47%;
  font-size: 18px;
  font-weight: 600;
  border-radius: var(--primary-border-radius);
  cursor: var(--pointer);
  transform: var(--transform);
}

.button + .button {
  margin-left: 15px;
}

.login {
  color: #fff;
  background-color: #18c0e4;
  border: 1px solid #18c0e4;
}

.login:hover {
  background-color: #0fabce;
  border: 1px solid #0fabce;
}

.signup {
  color: #18c0e4;
  background-color: #fff;
  border: 1px solid #18c0e4;
}

.signup:hover {
  color: #fff;
  background-color: #18c0e4;
}

.login-options {
  margin: 55px 0 15px;
  align-items: center;
}

.login-options p {
  margin: 0;
}

.login-options li {
  margin-left: 30px;
  color: #078eac;
  cursor: var(--pointer);
  list-style: none;
  text-decoration: none;
  transform: var(--transform);
}
