@charset "utf-8";

:root {
  --primary-background: #f8f9fe;
  --border-radius: 50px;
  --pointer: pointer;
  --transform: all 0.25s ease-in-out; 
}


.home-container {
  width: min(100% - 30px, 1410px);
  margin-inline: auto;
  height: 100svh;
}

.index-container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: 'Poppins', 'Open Sans', Arial, sans-serif;
  background-color: var(--primary-background);
}

main {
  height: 100svh;
}


/*----------------------------------------*/
/* Utilities                              */
/*----------------------------------------*/
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.grid {
  display: grid;
  place-items: center;
}

.text {
  color: rgb(32, 34, 45);
}

p {
  color: rgb(76, 77, 91);
}


/*----------------------------------------*/
/* Login-page                             */
/*----------------------------------------*/
.picture {
  width: 90%;
}

.login-content {
  padding-left: 40px;
}

.login-heading {
  font-size: 45px;
  font-weight: 500;
}

.blue {
  font-family: 'Anton', sans-serif;
  color: #18c0e4;
  letter-spacing: 0.6px;
}

.login-content p {
  margin-bottom: 50px;
}

.email, .password {
  height: 50px;
  width: 505px;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
}

.invalid {
  color: rgb(219, 30, 30);
}